 .read-more {
    background-color: #6EC466;
  }
.submit-button {
  background-color: #6FA0D1;
}

nav {
display: flex;
gap: 20px;
}


.article-image {
width: 250px;
float: right;
margin-right: 20px;
}

footer {
clear: both;
}

#blog-header {
display: flex;
justify-content: space-between;
align-items: justify;
gap: 20px;
}

.page-layout {
display: grid;
grid-template-columns: 1fr 300px;
gap: 30px;
}