   #blog-header {
                background-color: #8CA674;
                color: white;
                padding: 10px;
                text-align: center;
            }
            
            #blog {
                padding: 30px;
                text-align: justify;
                letter-spacing: 0.5px; 
                line-height: 30px;
            }

            .article {
                background-color: #AC88BA;
                padding: 30px;
                margin: 20px;
                border: 3px solid #614B86;
                border-radius: 15px; 
            }

            .tag {
                color: white;
                background-color: #51797A; 
                padding: 4px 8px;
                border-radius: 8px;
                margin: 5px; 
                font-size: 14px; 
                display: inline-block;
            }

            .article[data-author="Alex"] {
                color: #6E4B70;
                border-style: dashed; 
                background-color: #CBA3CC; 
                border-color: #845E85;
                border-width: 5px;
    
            }

            .article:nth-child(odd) {
                font-family: Arial; 
            }
            
            .article:nth-child(even) {
                font-family: Verdana; 
            }